<% if customer_signed_in? %>

<p id="notice"><%= notice %></p>

<h1>Customers</h1>
 <div>Signed in as... <%= current_customer.email %></div>
  <div>Signed in as... <%= current_customer.name %></div>
  <div>Signed in as ID no.... <%= current_customer.id %></div>
<%= link_to '<button type="button">Invest</button>'.html_safe, new_investment_path %>
<h1>Investments</h1>

<table>

  <thead>
    <tr>
      <th>Scheme</th>
    
      <th> Date</th>
      <th>&nbsp;&nbsp;&nbsp;Price</th>
       <th>&nbsp;&nbsp;&nbsp;nav</th>
        <th> &nbsp;&nbsp;&nbsp;units</th>
        <th> &nbsp;&nbsp;&nbsp;Todays nav</th>
        <th>  &nbsp;&nbsp;&nbsp;value </th>
      <th colspan="15"></th>
    </tr>
  </thead>

  <tbody>
    <% @cs.each do |investment| %>
      <tr>
        <td><%= investment.scheme.name %></td>
       
        <td><%= investment.date %></td>
        <td>&nbsp;&nbsp;&nbsp;<%= investment.amount %></td>
               <%  a= investment.id %>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
       <%=  Investment.find(a).scheme.navs.order("date desc").where("DATE(date) BETWEEN ? AND ?",'2010-02-01', investment.date).first.price %></td>
           <% b= investment.amount %>
           <%c=Investment.find(a).scheme.navs.order("date desc").where("DATE(date) BETWEEN ? AND ?",'2010-02-01', investment.date).first.price %>
          <td> &nbsp;&nbsp;&nbsp; 
             
         <%= number_with_precision(b.to_f/c, :precision => 2)  %> </td>
         <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  Investment.find(a).scheme.navs.order("date desc").first.price %></td>
          <%  d=Investment.find(a).scheme.navs.order("date desc").first.price %>
          <td>&nbsp;&nbsp;&nbsp;<%= number_to_currency(d*(b.to_f/c)) %></td>
      </tr>
    <% end %>
    
  </tbody>

</table>


<% else %>
<%= render 'new_user_page'%>

<% end %>